<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
   
   
    <title>Supernatural Web Site</title>
    
   <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
  
<h1>
  Fan Club Page
      </h1>

<div class="footer">
  <p> Node.js Application</p>
<p>Images from Pixabay.com</p>
</div>



 <% include partial/footer %>  
    </body>
</html>